*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
}


/* Stili */

section{
  width: 100vw;
  height: 100vh;
}

.slider{
  width: 50vw;
  height: 50vh;
  user-select: none;
}

.item{
  position: relative;
  display: none;
  height: 250px;
}

.item img{
  object-fit: cover;
  object-position: center;
 
}

.item.active{
  display: block;
}

.item .description{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 10px;
  text-align: end;
  color: white;
}

.description p{
  font-size: 10px;
}

.control-wrapper{
  position: relative;
  height: 200px;
  
  
}

.arrows{
  background-color: rgba(250, 250, 250, 1);
  font-size: 12px;
  padding: 0 4px;
  cursor: pointer;
  z-index: 99999;
}

.up{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.down{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.controls{
  height:40px;
  background-color: #333;
  
}

.controls .image{
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
  border-radius: 10px;
}

.controls .image.active{
  opacity: 1;
  border: 2px solid white;
}